@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



$mainFont: 'Ubuntu', sans-serif;



$mainBackGround: #1C2230;
$forGround: #13171f;
$darkGround: #0C1524;
$lightGround: #373e4b;
$textColor: #eafdea;
$hoverTextColor: #173124;



