@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oxygen&display=swap');



$mainFont: 'Ubuntu', sans-serif;
$secondaryFont: 'Oxygen', sans-serif;



$mainBackGround: #1C2230;
$forGround: #13171f;
$darkGround: #0C1524;
$lightGround: #373e4b;
$textColor: #eafdea;
$hoverTextColor: #173124;
$headingShadow: 4px 4px 5px rgb(73, 161, 100);
$gradientDarkGround: #0c152477;
$gradientLightGround: #373e4b81;



