@import "reset";
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oxygen&display=swap');


body{
background: $mainBackGround;
color: $textColor;
font-family: $mainFont;
overflow-x: hidden;
}
header{
height: 4.5rem;

    img
    {
        width: 9rem;
        border-radius: 5px 5px 5px 5px;
        margin: 0.5rem 1rem;
        
    }

    nav
    {
    float: right;
    .checkbtn
    {
        font-size: 2rem;
        float: right;
        line-height: 3rem;
        margin-right: 3vw;
        cursor: pointer;
        display: none;
    }
    @media only screen and (max-width: 800px){
   
        .checkbtn
        {
            font-size: 2rem;
            float: right;
            line-height: 3rem;
            margin-right: 3vw;
            cursor: pointer;
            display: block;
        }
       

    }
    #check
    {
        display: none;
    }
    
        a
        {
            display: inline-block;
            text-decoration: none;
            color: $textColor;
            position: relative;
            overflow: hidden;
            width: 5rem;
            vertical-align: middle;
            text-align: center;
            margin: 0.3rem 1.5vw;
            z-index: 1;

            
            }
            
            span
            {
                position: absolute;
                display: block;

                &:nth-child(1)
                {
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg,transparent,$textColor);
                }

                &:nth-child(3)
                {
                    bottom: 0;
                    right: -100%;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(270deg,transparent,$textColor);
                }

                &:nth-child(2)
                {
                    top: -100%;
                    right: 0%;
                    width: 2px;
                    height: 100%;
                    background: linear-gradient(180deg,transparent,$textColor);
                }

                &:nth-child(4)
                {
                    bottom: -100%;
                    left: 0%;
                    width: 2px;
                    height: 100%;
                    background: linear-gradient(360deg,transparent,$textColor);
                }
            }
        }
    

    a:hover
            {
            cursor: pointer;
            background: $forGround;
            box-shadow: 0 0 10px $textColor, 0 0 40px $textColor, 0 0 80px $textColor;
            font-weight: bolder;
            transition-delay: 1s;
            
            }
    a:hover span:nth-child(1)
    {
        left: 100%;
        transition: 1s;

    }

    a:hover span:nth-child(3)
    {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;

    }
    
    a:hover span:nth-child(2)
    {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;

    }
    
    a:hover span:nth-child(4)
    {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;

    }


    @media only screen and (max-width: 800px){
        nav a
        {
            display: block !important;
            right: -100%;
            top: 2rem;
            transition: 0.5s;
            margin: 0;
        }
       
        #check:checked ~ a
        {
            right: 10px;
        }
    }
    
    
}


.banner
    {
        background-image: linear-gradient(to bottom, $gradientDarkGround, $gradientLightGround), url(../resources/banner.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 700px;
        position: relative;
        z-index: 0;

        
        h1
        {
            position: absolute;
            top: 55%;
            font-size: 5vw; 
            letter-spacing: 0.2rem;
            text-shadow: $headingShadow;   
            padding: 2rem;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 800;
        }

        button
        {
            @include fancyButton;
            position: absolute;
            top: 85%;
            left: 2rem;
            font-size: 1.2rem;
            padding: 0.56rem;
            text-transform: capitalize;
           

            
        }


        @media only screen and (max-width: 800px){

        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
            
            h1
            {
                top: 45%;
                font-size: 7vw;
            }
            button
            {
                top: 90%;
                font-size: 0.8rem;
                padding: 0.5rem;
            }
        }
    }
    .services
    {
        margin-top: 4rem;   

        .headings
        {
            text-align: center;

            p
            {
                max-width: 800px;
                margin: auto;
            }
        }
        .services-tabs
        {
            section
            {
                @include fancytiles;
            }
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 400px));
            grid-gap: 2rem;
            justify-content: center;
            padding: 2rem;


            @media only screen and (max-width: 900px){
                grid-template-columns: 1fr;
            }

        }
    }

    .technologies
    {
        text-align: center;
        padding: 55px 4px 200px;  
        background: linear-gradient(to top left, $lightGround 49.5%, transparent 50.5%), linear-gradient($darkGround, $darkGround), linear-gradient(to bottom right, $lightGround 49.5%, transparent 50.5%);
        background-size: 100% 50px, 100% calc(100% - 175px), 100% 50px;
        background-repeat: no-repeat;
        background-position: 0px 0px, 0% 50px, 0% 89.8%;
        

        .icons
        {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 1vw;
            margin-top: 8rem;

            @media screen and (max-width:1050px){

                grid-template-columns: repeat(4, 1fr);
            }

            @media screen and (max-width:750px){

                grid-template-columns: repeat(2, 1fr);

                img 
                {
                    width: 120px;
                    height: 120px;
                }
            }
        }
        

        img
        {
            margin: auto;
            width: 150px;
            height: 150px;
            filter: grayscale(100%);
            transition: 0.25s;


            &:hover
            {
                filter: grayscale(0);
                transform: scale(1.1);
            }
            
        }

    }
    
.contact-us
{
    .data
    {
        max-width: 80vw;
        background: $darkGround;
        height: 10rem;
        margin: 5rem auto;
        padding: 2rem;
        text-align: center;

        button
        {
            @include fancyButton;
            text-transform: capitalize;

        }
    }
}

hr
{
    border: none;
    width: 100vw;
    height: 0.2px;
    background: $textColor;
}

footer
{
    background: $mainBackGround;
    .top-section
    {
    display: grid;
    grid-template-columns: minmax(19rem, 30rem) 1fr minmax(10rem, 20rem);
    column-gap: 2vw;
    margin: auto;
    padding: 2rem;

    .middle
    {
        margin: auto;
    }

    @media screen and (max-width: 800px){
        grid-template-columns: 1fr;
        padding: 0.3rem;

        .middle
        {
            background: $darkGround;
            width: 100vw;
            margin-top: 10px;
            padding: 2vw
        }
    }

    input
    {
        @include fancyinput;    
    }
    button
    {
        @include fancyButton;
    }

    
    .refs
    {
       
        display: grid;
        grid-template-columns: 100px 130px;
        grid-gap: 25px;

        

        a
        {
            text-decoration: none;
            cursor: pointer;
            color: $textColor;
            position: relative;
            
            &::after
            {
                content: '';
                background: $textColor;
                height: 3px;
                width: 0;
                position: absolute;
                left: 0;
                top: 17px;
                transition: 0.5s;
                
                
            }

            
                &:hover::after
                {
                    width: 100%;
                }
            
        }
    }
    
    }

    .bottom-part
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        background: $darkGround;

        @media screen and (max-width: 700px) {
            grid-template-columns: 1fr;
        }
        a
        {
            color: $textColor;
            cursor: pointer;
            text-decoration: none;

        }
    }
}


// about us page start//

.hero-image
{
    background-image: linear-gradient(to bottom, $gradientDarkGround, $gradientLightGround), url(../resources/pexels-fauxels-3183181.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
    h1
    {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 7vw;
        text-shadow: darkgray 5px 5px 3px;
        font-family: 'oxygen';
    }
}

main
{
    .tiles
    {
        max-width: 1200px;
        
        margin: auto;
        margin-top: -80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        z-index: 1;

        @media screen and (max-width: 850px) {
            grid-template-columns: 1fr;
            margin: 1rem;
        }
        .line
            {
                width: 50px;
                height: 3px;
                background: $textColor;
                margin-top: 1rem
            }

        span
        {
           @include fancytiles;


           
           li
           {
               @include fancyli;
           }
            
        }
    }

    hr:nth-child(2)
    {
        margin-top: 8rem;
    }

    .mid-text
    {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: $darkGround;
        text-align: center;
        padding: 5vw;

        @media screen and (max-width:850px) {
            grid-template-columns: 1fr;

            img
            {
                width: 80vw;
            }
        }

        .left-side
        {
            text-align: left;
            margin-top: 5rem;

            p
            {
                text-align: justify;
            }
        }
    }

    .why-choose-us
    {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: $lightGround;

        img
        {
            width: 50vw;
        }
        li
        {
            @include fancyli;
        }
        @media screen and (max-width:850px) {
            grid-template-columns: 1fr;

            img
            {
                width: 80vw;
                margin: 10vw;
            }
        }
        .right-side
        {
            margin: auto;
        }


    }
}


// contact us start

.hero-image-contact-us
{
    background-image: linear-gradient(to bottom, $gradientDarkGround, $gradientLightGround), url(../resources/contact-us.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 400px;
    position: relative;

    h1, p
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    h1
    {
        top: 38%;
        text-shadow: $headingShadow;
        font-size: 4.2rem;
    }
    p
    {
        top: 65%;
    }

    @media screen and (max-width:600px) {
        height: 350px;
        background-position: right;
        p
        {
            font-size: 0.7rem;
        }
        h1
        {
            font-size: 1.9rem;
            top: 45%;
        }
    }
}

.contact-main
{
    margin: 9rem;
    
    
    .form
    {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    max-width: 1000px;
    margin: auto;
    background: $darkGround;
    padding: 3rem;

    iframe
    {
        filter: brightness(0.7)
    }
    .left-side
    {
        form
        {
            display: flex;
        flex-direction: column;
        }
        
        input, textarea
        {
            @include fancyinput;
            margin-bottom: 1rem;
        }
        button
        {
            @include fancyButton
        }
    }

    }
    
    @media screen and (max-width: 1000px) {
        margin: 2vw;
        .form
        {
        grid-template-columns: 1fr;
        width: 70vw;
        padding: 0.5rem;

        input, textarea, button
        {
         max-width: 60vw;
        }
        }
        
    }
}

// services page start

.opening-text
{
    max-width: 800px;
    margin: 5rem auto;
    text-align: center;
}

.services-two
{
    background: $lightGround;
    
    .wrapper
    {
    max-width: 1000px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    justify-items: center;
    padding: 2rem;
    span
    {
        background: $forGround;
        padding-bottom: 1.5rem;
        width: 180px;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        transition: 0.35s;

        &:hover
        {
            box-shadow: $textColor 2px 2px 12px;
            transform: scale(1.02);
        }
    }

    @media screen and (max-width: 650px) {
        grid-template-columns: 1fr;
        span:nth-child(even)
        {
            display: none;
        }

    }
}
}