@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oxygen&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1C2230;
  color: #eafdea;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

header {
  height: 4.5rem;
}
header img {
  width: 9rem;
  border-radius: 5px 5px 5px 5px;
  margin: 0.5rem 1rem;
}
header nav {
  float: right;
}
header nav .checkbtn {
  font-size: 2rem;
  float: right;
  line-height: 3rem;
  margin-right: 3vw;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 800px) {
  header nav .checkbtn {
    display: block;
  }
}
header nav #check {
  display: none;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  color: #eafdea;
  position: relative;
  overflow: hidden;
  width: 5rem;
  vertical-align: middle;
  text-align: center;
  margin: 0.3rem 1.5vw;
  z-index: 1;
}
header nav span {
  position: absolute;
  display: block;
}
header nav span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #eafdea);
}
header nav span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #eafdea);
}
header nav span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #eafdea);
}
header nav span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #eafdea);
}
header a:hover {
  cursor: pointer;
  background: #13171f;
  box-shadow: 0 0 10px #eafdea, 0 0 40px #eafdea, 0 0 80px #eafdea;
  font-weight: bolder;
  transition-delay: 0.9s;
}
header a:hover span:nth-child(1) {
  left: 100%;
  transition: 0.6s;
}
header a:hover span:nth-child(3) {
  right: 100%;
  transition: 0.6s;
  transition-delay: 0.4s;
}
header a:hover span:nth-child(2) {
  top: 100%;
  transition: 0.6s;
  transition-delay: 0.2s;
}
header a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.6s;
  transition-delay: 0.6s;
}
@media only screen and (max-width: 800px) {
  header nav a {
    display: block !important;
    right: -20%;
    top: 2rem;
    transition: 0.5s;
    margin: 0;
    opacity: 0;
  }
  header #check:checked ~ a {
    right: 10px;
    opacity: 1;
  }
}

.banner {
  background-image: linear-gradient(to bottom, #0c152477, #373e4b81), url(../resources/banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  position: relative;
  z-index: 0;
}
.banner h1 {
  position: absolute;
  top: 55%;
  font-size: 5vw;
  letter-spacing: 0.2rem;
  text-shadow: 4px 4px 5px #49a164;
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
}
.banner button {
  padding: 0.3rem 0.7rem;
  border: #eafdea 1px solid;
  color: #eafdea;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 10px;
  position: absolute;
  top: 85%;
  left: 2rem;
  font-size: 1.2rem;
  padding: 0.56rem;
  text-transform: capitalize;
}
.banner button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.banner button:active {
  color: black;
}
.banner button:active:after {
  background: transparent;
}
.banner button:hover:before {
  opacity: 1;
}
.banner button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner h1 {
    top: 45%;
    font-size: 7vw;
  }
  .banner button {
    top: 90%;
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

.services {
  margin-top: 4rem;
}
.services .headings {
  text-align: center;
}
.services .headings p {
  max-width: 800px;
  margin: auto;
}
.services .services-tabs {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  grid-gap: 2rem;
  justify-content: center;
  padding: 2rem;
}
.services .services-tabs section {
  background: #0C1524;
  height: 250px;
  transition: 0.35s;
  padding: 1rem;
}
.services .services-tabs section:hover {
  background: silver;
  color: #173124;
}
@media only screen and (max-width: 900px) {
  .services .services-tabs {
    grid-template-columns: 1fr;
  }
}

.technologies {
  text-align: center;
  padding: 55px 4px 200px;
  background: linear-gradient(to top left, #373e4b 49.5%, transparent 50.5%), linear-gradient(#0C1524, #0C1524), linear-gradient(to bottom right, #373e4b 49.5%, transparent 50.5%);
  background-size: 100% 50px, 100% calc(100% - 175px), 100% 50px;
  background-repeat: no-repeat;
  background-position: 0px 0px, 0% 50px, 0% 89.8%;
}
.technologies .icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1vw;
  margin-top: 8rem;
}
@media screen and (max-width: 1050px) {
  .technologies .icons {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .technologies .icons {
    grid-template-columns: repeat(2, 1fr);
  }
  .technologies .icons img {
    width: 120px;
    height: 120px;
  }
}
.technologies img {
  margin: auto;
  width: 150px;
  height: 150px;
  filter: grayscale(100%);
  transition: 0.25s;
}
.technologies img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.contact-us .data {
  max-width: 80vw;
  background: #0C1524;
  height: 10rem;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}
.contact-us .data button {
  padding: 0.3rem 0.7rem;
  border: #eafdea 1px solid;
  color: #eafdea;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 10px;
  text-transform: capitalize;
}
.contact-us .data button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.contact-us .data button:active {
  color: black;
}
.contact-us .data button:active:after {
  background: transparent;
}
.contact-us .data button:hover:before {
  opacity: 1;
}
.contact-us .data button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

hr {
  border: none;
  width: 100vw;
  height: 0.2px;
  background: #eafdea;
}

footer {
  background: #1C2230;
}
footer .top-section {
  display: grid;
  grid-template-columns: minmax(19rem, 30rem) 1fr minmax(10rem, 20rem);
  column-gap: 2vw;
  margin: auto;
  padding: 2rem;
}
footer .top-section .middle {
  margin: auto;
}
@media screen and (max-width: 800px) {
  footer .top-section {
    grid-template-columns: 1fr;
    padding: 0.3rem;
  }
  footer .top-section .middle {
    background: #0C1524;
    width: 100vw;
    margin-top: 10px;
    padding: 2vw;
  }
}
footer .top-section input {
  background: black;
  border: #eafdea 1px solid;
  padding: 0.3rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.5px;
}
footer .top-section input::placeholder {
  color: #eafdea;
}
footer .top-section button {
  padding: 0.3rem 0.7rem;
  border: #eafdea 1px solid;
  color: #eafdea;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 10px;
}
footer .top-section button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
footer .top-section button:active {
  color: black;
}
footer .top-section button:active:after {
  background: transparent;
}
footer .top-section button:hover:before {
  opacity: 1;
}
footer .top-section button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
footer .top-section .refs {
  display: grid;
  grid-template-columns: 100px 130px;
  grid-gap: 25px;
}
footer .top-section .refs a {
  text-decoration: none;
  cursor: pointer;
  color: #eafdea;
  position: relative;
}
footer .top-section .refs a::after {
  content: "";
  background: #eafdea;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  top: 17px;
  transition: 0.5s;
}
footer .top-section .refs a:hover::after {
  width: 100%;
}
footer .bottom-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background: #0C1524;
}
@media screen and (max-width: 700px) {
  footer .bottom-part {
    grid-template-columns: 1fr;
  }
}
footer .bottom-part a {
  color: #eafdea;
  cursor: pointer;
  text-decoration: none;
}

.hero-image {
  background-image: linear-gradient(to bottom, #0c152477, #373e4b81), url(../resources/pexels-fauxels-3183181.jpg);
  height: 600px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}
.hero-image h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 7vw;
  text-shadow: darkgray 5px 5px 3px;
  font-family: "oxygen";
}

main .tiles {
  max-width: 1200px;
  margin: auto;
  margin-top: -80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  z-index: 1;
}
@media screen and (max-width: 850px) {
  main .tiles {
    grid-template-columns: 1fr;
    margin: 1rem;
  }
}
main .tiles .line {
  width: 50px;
  height: 3px;
  background: #eafdea;
  margin-top: 1rem;
}
main .tiles span {
  background: #0C1524;
  height: 250px;
  transition: 0.35s;
  padding: 1rem;
}
main .tiles span:hover {
  background: silver;
  color: #173124;
}
main .tiles span li {
  padding: 3px;
}
main .tiles span li::marker {
  content: "► ";
}
main hr:nth-child(2) {
  margin-top: 8rem;
}
main .mid-text {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #0C1524;
  text-align: center;
  padding: 5vw;
}
main .mid-text img {
  max-width: 40vw;
}
@media screen and (max-width: 850px) {
  main .mid-text {
    grid-template-columns: 1fr;
  }
  main .mid-text img {
    width: 80vw;
  }
}
main .mid-text .left-side {
  text-align: left;
  margin-top: 5rem;
}
main .mid-text .left-side p {
  text-align: justify;
}
main .why-choose-us {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #373e4b;
}
main .why-choose-us img {
  width: 50vw;
}
main .why-choose-us li {
  padding: 3px;
}
main .why-choose-us li::marker {
  content: "► ";
}
@media screen and (max-width: 850px) {
  main .why-choose-us {
    grid-template-columns: 1fr;
  }
  main .why-choose-us img {
    width: 80vw;
    margin: 10vw;
  }
}
main .why-choose-us .right-side {
  margin: auto;
}

.hero-image-contact-us {
  background-image: linear-gradient(to bottom, #0c152477, #373e4b81), url(../resources/contact-us.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 400px;
  position: relative;
}
.hero-image-contact-us h1, .hero-image-contact-us p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hero-image-contact-us h1 {
  top: 38%;
  text-shadow: 4px 4px 5px #49a164;
  font-size: 4.2rem;
}
.hero-image-contact-us p {
  top: 65%;
}
@media screen and (max-width: 600px) {
  .hero-image-contact-us {
    height: 350px;
    background-position: right;
  }
  .hero-image-contact-us p {
    font-size: 0.7rem;
  }
  .hero-image-contact-us h1 {
    font-size: 1.9rem;
    top: 45%;
  }
}

.contact-main {
  margin: 9rem;
}
.contact-main .form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  max-width: 1000px;
  margin: auto;
  background: #0C1524;
  padding: 3rem;
}
.contact-main .form iframe {
  filter: brightness(0.7);
}
.contact-main .form .left-side form {
  display: flex;
  flex-direction: column;
}
.contact-main .form .left-side input, .contact-main .form .left-side textarea {
  background: black;
  border: #eafdea 1px solid;
  padding: 0.3rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}
.contact-main .form .left-side input::placeholder, .contact-main .form .left-side textarea::placeholder {
  color: #eafdea;
}
.contact-main .form .left-side button {
  padding: 0.3rem 0.7rem;
  border: #eafdea 1px solid;
  color: #eafdea;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 10px;
}
.contact-main .form .left-side button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.contact-main .form .left-side button:active {
  color: black;
}
.contact-main .form .left-side button:active:after {
  background: transparent;
}
.contact-main .form .left-side button:hover:before {
  opacity: 1;
}
.contact-main .form .left-side button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .contact-main {
    margin: 2vw;
  }
  .contact-main .form {
    grid-template-columns: 1fr;
    width: 70vw;
    padding: 0.5rem;
  }
  .contact-main .form input, .contact-main .form textarea, .contact-main .form button {
    max-width: 60vw;
  }
}

.opening-text {
  max-width: 800px;
  margin: 5rem auto;
  text-align: center;
}

.services-two {
  background: #373e4b;
}
.services-two .wrapper {
  max-width: 1000px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  justify-items: center;
  padding: 2rem;
}
.services-two .wrapper span {
  background: #13171f;
  padding-bottom: 1.5rem;
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  transition: 0.35s;
}
.services-two .wrapper span:hover {
  box-shadow: #eafdea 2px 2px 12px;
  transform: scale(1.02);
}
@media screen and (max-width: 650px) {
  .services-two .wrapper {
    grid-template-columns: 1fr;
  }
  .services-two .wrapper span:nth-child(even) {
    display: none;
  }
}

.service-three .text-part {
  max-width: 1200px;
  margin: auto;
}
.service-three .text-part h2 {
  font-size: 2rem;
}
.service-three .services .sub-section {
  text-align: center;
}
.service-three .services .sub-section h2 {
  text-transform: uppercase;
}
.service-three .services .sub-section section {
  height: 300px;
}
.service-three .services .sub-section i {
  border: #eafdea 1.5px solid;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.information-security {
  padding-top: 2rem;
  background: #373e4b;
}
.information-security .mid-text {
  background: #373e4b;
}
.information-security .sub-section {
  max-width: 1200px;
  margin: auto;
}
.information-security h1 {
  text-decoration: underline;
  line-height: 40px;
  letter-spacing: 2px;
}

.product-eng {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #0C1524;
  text-align: center;
  padding: 5vw;
  background: #373e4b;
}
.product-eng img {
  max-width: 40vw;
}
@media screen and (max-width: 850px) {
  .product-eng {
    grid-template-columns: 1fr;
  }
  .product-eng img {
    width: 80vw;
  }
}
.product-eng .left-side {
  text-align: left;
  margin-top: 5rem;
}
.product-eng .left-side p {
  text-align: justify;
}
.product-eng .product-tabs > section {
  background: #0C1524;
  text-align: left;
  padding: 1px 1rem;
  margin: 1rem 0;
  transition: 0.35s;
}
.product-eng .product-tabs > section:hover {
  background: silver;
  color: #173124;
}

.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #000;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

/*# sourceMappingURL=main.css.map */
